<a href="https://colab.research.google.com/github/Radityaz/2025_AI_TI1B/blob/main/Riko_AI_Jobsheet03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#JOB SHEET 3 : PENGUKURAN STATISTIK DESKRIPTIF

##Latihan

Mendapatkan Nilai Mean

In [ ]:
import numpy as np

score = [90, 80, 70, 65, 110, 80, 83, 67, 94]

x = np.mean(score)

print(x)

82.11111111111111

Mendapatkan Nilai Median

In [1]:
import numpy as np

score = [90, 80, 70, 65, 110, 80, 83, 67, 94]

x = np.median(score)

print(x)

80.0

Mendapatkan Nilai Modus / Mode

In [2]:
from scipy import stats

score = [90, 80, 70, 65, 110, 80, 83, 67, 94]

x = stats.mode(score, keepdims=True)

print(x)

ModeResult(mode=array([80]), count=array([2]))

Mendapatkan Nilai Range

In [3]:
import numpy as np

data = [2, 3, 7, 8, 9, 12, 15, 20, 50, 42]

minimum = np.min(data)
maximum = np.max(data)
x = maximum - minimum

print(x)

48

Mendapatkan Nilai Percentile

In [4]:
import numpy as np

data = [90, 80, 70, 65, 110, 80, 83, 67, 94]

x = np.percentile(data, 90)

print(x)

97.2

Mendapatkan Nilai Quartile dan Interquartile Range

In [5]:
import numpy as np

data = [3, 4, 4, 5, 5, 6, 6, 7, 8, 8, 9, 10]

Q1 = np.median(data[:int(len(data)/2)])
Q3 = np.median(data[int(len(data)/2):])
IQR = Q3 - Q1

print(Q1,Q3,IQR)

4.5 8.0 3.5

Mendapatkan Nilai Variance dan Standart Deviation

In [7]:
import numpy as np

data= [86, 87, 88, 86, 87, 85, 86]

mean = np.mean(data)
var = np.var(data)
std = np.std(data)

print(mean, var, std)

86.42857142857143 0.8163265306122449 0.9035079029052513

##Praktikum

###1.Pelemparan dadu sebanyak 25 kali. Angka yang keluar datanya adalah : 1 2 3 4 5 5 6 2 3 4 5 6 6 4 3 2 1 4 3 5 6 6 5 4 5 Modus dari data diatas adalah â€¦

In [9]:


import numpy as np

score = [1, 2, 3, 4, 5, 5, 6, 2, 3,
         4, 5, 6, 6, 4, 3, 2, 1, 4,
         3, 5, 6, 6, 5, 4, 5]

x = np.median(score)

print(x)

4.0

###2.Diketahui sebuah deret data 9, 10, 11, 6, 8, 7, 7, 5, 4, 5. Tentukan persentil ke-25 dan persentil ke-75 !

In [10]:
import numpy as np

data = [9, 10, 11, 6, 8, 7, 7, 5, 4, 5]

x = np.percentile(data, 25)
y = np.percentile(data, 75)

print(f'persentil ke-25 = {x} dan persentil ke-75 = {y}')

persentil ke-25 = 5.25 dan persentil ke-75 = 8.75

###3.	Pada sebuah kelas memiliki nilai hasil ujian yaitu 50, 54, 62, 50, 52, 59, 61, 63, 65, 10, 53, 63, 65, 50, 59, 62, 50, 51, 57, 60, 63, 65, 65, 53, 99. Beradasarkan data hasil ujian tersebut, tentukan :

a.	Urutkan data dari yang terkecil sampai data yang terbesar

In [11]:
nilai = [50, 54, 62, 50, 52, 59, 61, 63, 65, 10, 53, 63, 65, 50, 59, 62, 50,
         51, 57, 60, 63, 65, 65, 53, 99]

nilai_terurut = sorted(nilai)

print("Data terurut dari yang terkecil ke terbesar:")
print(nilai_terurut)

Data terurut dari yang terkecil ke terbesar:
[10, 50, 50, 50, 50, 51, 52, 53, 53, 54, 57, 59, 59, 60, 61, 62, 62, 63, 63, 63, 65, 65, 65, 65, 99]

b.	Identifikasi nilai first quartile (Q1) dan third quartile (Q3), dan IQR

In [14]:
data = [50, 54, 62, 50, 52, 59, 61, 63, 65, 10, 53, 63, 65, 50, 59, 62, 50,
         51, 57, 60, 63, 65, 65, 53, 99]

Q1 = np.median(data[:int(len(data)/2)])
Q3 = np.median(data[int(len(data)/2):])
IQR = Q3 - Q1

print(f'Q1: {Q1}, Q3: {Q3}, IQR: {IQR}')

Q1: 56.5, Q3: 60.0, IQR: 3.5

c.	Tentukan nilai upper bound dan lower bound

In [17]:
data = [50, 54, 62, 50, 52, 59, 61, 63, 65, 10, 53, 63, 65, 50, 59, 62, 50,
         51, 57, 60, 63, 65, 65, 53, 99]

Q1 = np.median(data[:int(len(data)/2)])
Q3 = np.median(data[int(len(data)/2):])
IQR = Q3 - Q1
lowerBound = Q1 - 1.5 * IQR
upperBound = Q3 + 1.5 * IQR

print(f'LowerBound: {lowerBound} & Upperbound: {upperBound}')

LowerBound: 51.25 & Upperbound: 65.25

d.	Tentukan nilai ujian yang menjadi outlier berdasarkan data hasil ujian diatas

In [25]:
data = [50, 54, 62, 50, 52, 59, 61, 63, 65, 10, 53, 63, 65, 50, 59, 62, 50,
         51, 57, 60, 63, 65, 65, 53, 99]

Q1 = np.median(data[:int(len(data)/2)])
Q3 = np.median(data[int(len(data)/2):])
IQR = Q3 - Q1
lowerBound = Q1 - 1.5 * IQR
upperBound = Q3 + 1.5 * IQR

minimum = np.min(data)
maximum = np.max(data)

print(f'LowerBound: {lowerBound} & Upperbound: {upperBound}')
print(f'outliner: {minimum}, {maximum}')

LowerBound: 51.25 & Upperbound: 65.25
outliner: 10, 99

###4.	Diketahui data berat bada mahasiswa informatika polines kelas IK-2E adalah sebagai berikut.

In [27]:
import numpy as np

# Data
kelas = [(41, 45), (46, 50), (50, 55), (56, 60), (61, 65), (66, 70)]
frekuensi = [2, 3, 6, 4, 5, 2]

titik_tengah = [ (bawah + atas) / 2 for (bawah, atas) in kelas ]

fx = [ f * x for f, x in zip(frekuensi, titik_tengah) ]
fx2 = [ f * x**2 for f, x in zip(frekuensi, titik_tengah) ]

total_f = sum(frekuensi)


standar_deviasi = np.sqrt( (sum(fx2) / total_f) - mean**2 )

print(f"Standar Deviasi: {standar_deviasi:.2f}")

Standar Deviasi: 7.24