<a href="https://colab.research.google.com/github/Radityaz/2025_AI_TI1B/blob/main/RikoAdityaZaki_AI_UTS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# UJIAN TENGAH SEMESTER KECERDASAN BUATAN

## IMPORT LIBRARY

In [12]:
import pandas as pd
import matplotlib.pyplot as plt

## PANDAS

Read data airbnb.csv

In [15]:
df = pd.read_csv('airbnb.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB
None

Working Series airbnb

In [16]:
# 2. Working with Series
print("\n=== Working with Series ===")
# Create a Series from the price column
price_series = df['price']
print("\nPrice Series head():")
print(price_series.head())

# Series operations
print("\nAverage price:", price_series.mean())
print("Most expensive listing:", price_series.max())
print("Cheapest listing:", price_series.min())

=== Working with Series ===

Price Series head():
0    149
1    225
2    150
3     89
4     80
Name: price, dtype: int64

Average price: 152.7206871868289
Most expensive listing: 10000
Cheapest listing: 0

DataFraming airbnb.csv

In [17]:
# 3. DataFrame operations
print("\n=== DataFrame Operations ===")
# Display first 5 rows
print("\nFirst 5 rows:")
print(df.head())

# Basic statistics
print("\nDescriptive statistics:")
print(df.describe())

# Filtering data - listings in Manhattan
manhattan_listings = df[df['neighbourhood_group'] == 'Manhattan']
print("\nManhattan listings count:", len(manhattan_listings))

# Group by neighborhood and calculate average price
print("\nAverage price by neighborhood group:")
print(df.groupby('neighbourhood_group')['price'].mean().sort_values(ascending=False))

=== DataFrame Operations ===

First 5 rows:
     id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            Brooklyn    Kensington  40.64749  -73.97237
1     Jennifer           Manhattan       Midtown  40.75362  -73.98377
2    Elisabeth           Manhattan        Harlem  40.80902  -73.94190
3  LisaRoxanne            Brooklyn  Clinton Hill  40.68514  -73.95976
4        Laura           Manhattan   East Harlem  40.79851  -73.94399

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    149               1                  9  2018-10-19
1  Entire home/apt    225               1                 45  2019-05-21
2     Private room    150               3                  0         NaN
3  Entire home/apt     89               1                270  2019-07-05
4  Entire home/apt     80              10                  9  2018-11-19

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.21                               6               365
1               0.38                               2               355
2                NaN                               1               365
3               4.64                               1               194
4               0.10                               1                 0

Descriptive statistics:
                 id       host_id      latitude     longitude         price  \
count  4.889500e+04  4.889500e+04  48895.000000  48895.000000  48895.000000
mean   1.901714e+07  6.762001e+07     40.728949    -73.952170    152.720687
std    1.098311e+07  7.861097e+07      0.054530      0.046157    240.154170
min    2.539000e+03  2.438000e+03     40.499790    -74.244420      0.000000
25%    9.471945e+06  7.822033e+06     40.690100    -73.983070     69.000000
50%    1.967728e+07  3.079382e+07     40.723070    -73.955680    106.000000
75%    2.915218e+07  1.074344e+08     40.763115    -73.936275    175.000000
max    3.648724e+07  2.743213e+08     40.913060    -73.712990  10000.000000

       minimum_nights  number_of_reviews  reviews_per_month  \
count    48895.000000       48895.000000       38843.000000
mean         7.029962          23.274466           1.373221
std         20.510550          44.550582           1.680442
min          1.000000           0.000000           0.010000
25%          1.000000           1.000000           0.190000
50%          3.000000           5.000000           0.720000
75%          5.000000          24.000000           2.020000
max       1250.000000         629.000000          58.500000

       calculated_host_listings_count  availability_365
count                    48895.000000      48895.000000
mean                         7.143982        112.781327
std                         32.952519        131.622289
min                          1.000000          0.000000
25%                          1.000000          0.000000
50%                          1.000000         45.000000
75%                          2.000000        227.000000
max                        327.000000        365.000000

Manhattan listings count: 21661

Average price by neighborhood group:
neighbourhood_group
Manhattan        196.875814
Brooklyn         124.383207
Staten Island    114.812332
Queens            99.517649
Bronx             87.496792
Name: price, dtype: float64

Data Manipulating airbnb.csv

In [18]:
# 4. Data Manipulation
print("\n=== Data Manipulation ===")
# Add a new column for price per night (just an example, same as price here)
df['price_per_night'] = df['price'] / df['minimum_nights']
print("\nDataFrame with new column:")
print(df[['name', 'price', 'minimum_nights', 'price_per_night']].head())

# Pivot table - average price by room type and neighborhood group
pivot_table = pd.pivot_table(df,
                            values='price',
                            index='neighbourhood_group',
                            columns='room_type',
                            aggfunc='mean')
print("\nPivot Table:")
print(pivot_table)

=== Data Manipulation ===

DataFrame with new column:
                                               name  price  minimum_nights  \
0                Clean & quiet apt home by the park    149               1
1                             Skylit Midtown Castle    225               1
2               THE VILLAGE OF HARLEM....NEW YORK !    150               3
3                   Cozy Entire Floor of Brownstone     89               1
4  Entire Apt: Spacious Studio/Loft by central park     80              10

   price_per_night
0            149.0
1            225.0
2             50.0
3             89.0
4              8.0

Pivot Table:
room_type            Entire home/apt  Private room  Shared room
neighbourhood_group
Bronx                     127.506596     66.788344    59.800000
Brooklyn                  178.327545     76.500099    50.527845
Manhattan                 249.239109    116.776622    88.977083
Queens                    147.050573     71.762456    69.020202
Staten Island             173.846591     62.292553    57.444444